<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="s4d_biomedicina.Properties.Settings.unipBiomedicinaConnectionString"
            connectionString="Data Source=RUKANOTE\SQLEXPRESS;Initial Catalog=unipBiomedicina;User ID=sa;Password=admin01"
            providerName="System.Data.SqlClient" />
        <add name="s4d_biomedicina.Properties.Settings.unipBiomedicinaConnectionString1"
            connectionString="Data Source=RUKANOTE\SQLEXPRESS;Initial Catalog=unipBiomedicina;User ID=sa;Password=admin01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>